h1
{
	text-align: center;
}
body
{
	margin: 0px;
}
#header
{
	height: 120px;
	background: black;
}
a
{
	color: white;
}
.hautpage
{
	float: right;
}
.connexionbox
{
	border: 1px solid black;
	text-align: center;
	padding: 12px;





}